<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net461" />
  <package id="TinyIoC" version="1.3" targetFramework="net461" developmentDependency="true" />
  <package id="Topshelf" version="4.0.2" targetFramework="net461" />
  <package id="Topshelf.Serilog" version="4.0.2" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="2.1.126" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.126" targetFramework="net461" />
</packages>